<% content_for :title, "AHAD" %>

<!-- Header -->
<div id="app-layout-header-bar">
  <%= link_to root_path do %>
    <%= image_tag("ahad-header-logo-from-website-alpha-2.png", 
        id: "app-layout-ah-header-logo-img",
        alt: "AHAD Header Logo") %>
  <% end %>
</div>

<!-- Background Image -->
<div id="sp-home-bg-img-container">
  <%= image_tag("altadena-littlehouse-1900-wide.jpg", id: "sp-home-bg-img") %>
</div>

<!-- Main Content Box -->
<div id="sp-home-ad-box-container">
  <div id="sp-home-ad-box">
    Architectural Database
    
    <div>
      <%= form_with(url: search_path, method: :get, id: "sp-home-form") do %>
        <div id="sp-home-addr-container">
          <select id="sp-home-addr-select2" name="id">
            <option value="">Select an address...</option>
          </select>
        </div>
        
        <div id="sp-home-srch-btn-container">
          <%= hidden_field_tag :ret, "search" %>
          <button id="sp-home-search-btn" class="btn-arrow-anim" type="submit">
            <span class="btn-arrow-anim__text">Search</span>
          </button>

        </div>
      <% end %>
    </div>

    <div class="footer-text">
      The Altadena Heritage Architectural Database (AHAD) is maintained and curated by
      <%= link_to "Altadena Heritage", "http://altadenaheritage.org/", target: "_blank" %>,
      a nonprofit volunteer-based advocacy and preservation organization.
    </div>

  </div>
</div>