        <div class="nested-fields">
          <%= f.label :cost, "Cost (do not include $ sign)" %>
          <%= f.text_field :cost %>
  
          <%= f.label :description %>
          <%= f.text_field :description %>

          <%= f.label :year %>
          <%= f.text_field :year %>
          
          <%= link_to_remove_association "Remove Above Alteration", f %>
        </div>