     <%= form_for(@property) do |f| %>

      <%= f.submit "Save Changes", class: "btn btn-primary" %>

      <%= f.label :address1, "Address 1" %>
      <%= f.text_field :address1, class: 'form-control', maxlength: 128 %>

      <%= f.label :address2, "Address 2" %>
      <%= f.text_field :address2, class: 'form-control', maxlength: 128 %>

      <%= f.label :addressnote, "Address Note" %>
      <%= f.text_area :addressnote, class: 'form-control', rows: "3", maxlength: 128 %>

      <%= f.label :ahdesignation, "AH Designation" %>
      <%= f.text_field :ahdesignation, class: 'form-control', maxlength: 128 %>

      <%= f.label :architect %>
      <%= f.text_field :architect, class: 'form-control', maxlength: 128 %>

      <%= f.label :architectconfirmed, "Architect Confirmed" %>
      <%= f.select :architectconfirmed, [['',''],['Y', 'Y'], ['N', 'N']] %>

      <%= f.label :builder %>
      <%= f.text_field :builder, class: 'form-control', maxlength: 128 %>

      <%= f.label :builderconfirmed, "Builder Confirmed" %>
      <%= f.select :builderconfirmed, [['',''],['Y', 'Y'], ['N', 'N']] %>

      <%= f.label :additionalbuilders, "Additional Builders" %>
      <div style="margin-left:100px">
      <%= f.fields_for :additional_builders do |ab| %>
        <div>
          <%= ab.label :name %>
          <%= ab.text_field :name %>
  
          <%= ab.label :year %>
          <%= ab.text_field :year %>
        </div>
      <% end %>
      </div>
      
      <%= f.label :chrs, "CHRS" %>
      <%= f.text_field :chrs, class: 'form-control', maxlength: 32 %>

      <%= f.label :currentlotsize, "Current Lot Size" %>
      <%= f.text_field :currentlotsize, class: 'form-control', maxlength: 64 %>

      <%= f.label :historicname, "Historic Name" %>
      <%= f.text_field :historicname, class: 'form-control', maxlength: 128 %>

      <%= f.label :legaldescription, "Legal Description" %>
      <%= f.text_field :legaldescription, class: 'form-control', maxlength: 64 %>

      <%= f.label :movedontoproperty, "Moved on to Property" %>
      <%= f.select :movedontoproperty, [['',''],['Y', 'Y'], ['N', 'N']] %>

      <%= f.label :notes_shpo_and_sources, "Notes SHPO And Sources" %>
      <%= f.text_area :notes_shpo_and_sources, class: 'form-control', rows: "10", maxlength: 10000 %>


      <%= f.label :originalcost, "Original Cost" %>
      <%= f.text_field :originalcost, class: 'form-control', maxlength: 32 %>

      <%= f.label :originallotsize, "Original Lot Size" %>
      <%= f.text_field :originallotsize, class: 'form-control', maxlength: 64 %>

      <%= f.label :originalowner, "Original Owner" %>
      <%= f.text_field :originalowner, class: 'form-control', maxlength: 64 %>

      <%= f.label :originalowneroccupation, "Original Owner Occupation" %>
      <%= f.text_field :originalowneroccupation, class: 'form-control', maxlength: 64 %>
      
      <%= f.label :originalownerspouse, "Original Owner Spouse" %>
      <%= f.text_field :originalownerspouse, class: 'form-control', maxlength: 64 %>

      <%= f.label :orig_note_shpo_sources, "Orig Notes SHPO And Sources" %>
      <%= f.text_area :orig_note_shpo_sources, class: 'form-control', rows: "10", maxlength: 10000 %>

      <%= f.label :placeofbusiness, "Place of Business" %>
      <%= f.text_field :placeofbusiness, class: 'form-control', maxlength: 64 %>

      <%= f.label :quadrant, "Quadrant" %>
      <datalist id="quadrantlist">
        <% Quadrant.all.each do |quadrant| %>
          <option value="<%= quadrant.value.titlecase %>"></option>
        <% end %>
      </datalist>
      <%= f.text_field :quadrant, class: 'form-control', list: "quadrantlist" %>

      <%= f.label :stories, "Stories" %>
      <%= f.number_field :stories %>

      <%= f.label :streetdirection, "Street Direction" %>
      <%= f.select :streetdirection, [['',''],['N', 'N'], ['S', 'S'], ['E', 'E'], ['W', 'W']] %>

      <%= f.label :streetname, "Street Name" %>
      <%= f.text_field :streetname, class: 'form-control', maxlength: 64 %>

      <%= f.label :streetnumberbegin, "Street Number Begin" %>
      <%= f.text_field :streetnumberbegin, class: 'form-control', maxlength: 16 %>

      <%= f.label :streetnumberend, "Street Number End" %>
      <%= f.text_field :streetnumberend, class: 'form-control', maxlength: 16 %>

      <%= f.label :style, "Style" %>
      <datalist id="stylelist">
        <% Style.all.each do |style| %>
          <option value="<%= style.value %>"></option>
        <% end %>
      </datalist>
      <%= f.text_field :style, class: 'form-control', list: "stylelist" %>

      <%= f.label :type, "Type" %>
      <datalist id="typelist">
        <% Type.all.each do |type| %>
          <option value="<%= type.value.titlecase %>"></option>
        <% end %>
      </datalist>
      <%= f.text_field :type, class: 'form-control', list: "typelist" %>

      <%= f.label :yearbuilt, "Year Built" %>
      <%= f.number_field :yearbuilt %>

      <%= f.label :yearbuiltflag, "Year Built Flag" %>
      <%= f.select :yearbuiltflag, [['',''],['A-Actual', 'A'], ['E-Estimate', 'E'], ['P-Pre', 'P']] %>


      <%= f.label :yearbuiltassessor, "Year Built Assessor" %>
      <%= f.number_field :yearbuiltassessor %>

      <%= f.label :yearbuiltassessorflag, "Year Built Assessor Flag" %>
      <%= f.select :yearbuiltassessorflag, [['',''],['A-Actual', 'A'], ['E-Estimate', 'E'], ['P-Pre', 'P']] %>


      <%= f.label :yearbuiltother, "Year Built Other" %>
      <%= f.number_field :yearbuiltother %>

      <%= f.label :yearbuiltotherflag, "Year Built Other Flag" %>
      <%= f.select :yearbuiltotherflag, [['',''],['A-Actual', 'A'], ['E-Estimate', 'E'], ['P-Pre', 'P']] %>

      <br>
      <%= f.submit "Save Changes", class: "btn btn-primary" %>

    <% end %>
