        <div class="nested-fields">
          <%= f.label :address1 %>
          <%= f.text_field :address1 %>

          <%= f.label :address2 %>
          <%= f.text_field :address2 %>
  
          <%= f.label :years %>
          <%= f.text_field :years %>

          <%= f.label :yearflag, "Year Flag" %>
          <%= f.select :yearflag, [['',''],['A-Actual', 'A'], ['E-Estimate', 'E'], ['P-Pre', 'P']] %>
          
          <%= link_to_remove_association "Remove Above Former Address", f %>
        </div>