        <div class="nested-fields">
          <%= f.label :filename %>
          <%= f.text_field :filename %>

          <%= f.label :resource_type %>
          <%= f.text_field :resource_type %>

          <%= f.label :file_format %>
          <%= f.text_field :file_format %>

          <%= f.label :description %>
          <%= f.text_field :description, :maxlength => 500 %>

          <%= f.label :date %>
          <%= f.text_field :date, :maxlength => 45 %>

          <%= f.label :credit %>
          <%= f.text_field :credit, :maxlength => 100 %>

          <%= f.label :primary_image, "Primary Image" %>
          <%= f.select :primary_image, [['',''],['Y', 'Y'], ['N', 'N']] %>

          <%= link_to_remove_association "Remove Above Resource", f %>
        </div>