
  <% 
     property = PropertyDecorator.new(property)
     arch = property.first_architect.nil? ? nil : PropArchitectDecorator.new(property.first_architect)
     bldr = property.first_builder.nil? ? nil : PropBuilderDecorator.new( property.first_builder )
     
     arch_html = arch_all_html(property)
     bldr_html = bldr_all_html(property)
  %>
  
  <% if !current_user.nil? && current_user.admin? then %>
    <tr>  
      <td><%= link_to property.address1, property %> 
          | <%= link_to "Edit" , property_edit_path(property) %> 
          | <%= link_to "Delete", property, method: :delete,
              data: { confirm: "Are you sure you want to delete this property?" } %>
      </td>

      <td><%= arch_html == "" ? "" : arch_html.html_safe %> </td>
      <td><%= bldr_html == "" ? "" : bldr_html.html_safe %> </td>
      <td><%= property.yearbuilt_qualified %> </td>
      <td><%= property.style if !property.style.nil? %> </td>
      <td><%= property.type.capitalize if !property.type.nil? %> </td>
    </tr>

  <% else %>
    <tr>  
      <td><%= link_to property.address1, property %> </td>
      <td><%= arch_html == "" ? "" : arch_html.html_safe %> </td>
      <td><%= bldr_html == "" ? "" : bldr_html.html_safe %> </td>
      <td><%= property.yearbuilt_qualified %> </td>
      <td><%= property.style if !property.style.nil? %> </td>
      <td><%= property.type.capitalize if !property.type.nil? %> </td>
    </tr>
  <% end %>
