        <div class="nested-fields">
          <%= f.label :name %>
          <%= f.text_field :name %>

          <%= f.label :years %>
          <%= f.text_field :years %>

          <%= f.label :yearflag, "Year Flag" %>
          <%= f.select :yearflag, [['',''],['Y', 'Y'], ['N', 'N']] %>

          <%= f.label :original_owner, "Show as Original Owner?" %>
          <%= f.select :original_owner, [['',''],['Y', 'Y'], ['N', 'N']] %>

          <%= f.label :comment %>
          <%= f.text_field :comment, :maxlength => 2000 %>

          <%= link_to_remove_association "Remove Above Owner", f %>
        </div>