
  <% property = PropertyDecorator.new(property) %>
  
  <% if !current_user.nil? && current_user.admin? then %>
    <tr>  
      <td><%= link_to property.address1, property %> 
          | <%= link_to "Edit" , property_edit_path(property) %> 
          | <%= link_to "Delete", property, method: :delete,
              data: { confirm: "Are you sure you want to delete this property?" } %>
      </td>
      <td><%= property.architect_qualified %> </td>
      <td><%= property.builder_qualified %> </td>
      <td><%= property.yearbuilt_qualified %> </td>
      <td><%= property.style if !property.style.nil? %> </td>
      <td><%= property.type.capitalize if !property.type.nil? %> </td>
    </tr>

  <% else %>
    <tr>  
      <td><%= link_to property.address1, property %> </td>
      <td><%= property.architect_qualified %> </td>
      <td><%= property.builder_qualified %> </td>
      <td><%= property.yearbuilt_qualified %> </td>
      <td><%= property.style if !property.style.nil? %> </td>
      <td><%= property.type.capitalize if !property.type.nil? %> </td>
    </tr>
  <% end %>
