<% provide(:title, 'All Properties') %>

<%= render "layouts/header" %>

<div class="text-center top-padding-to-miss-navbar">
  <h1>All Properties</h1>
</div>

<div id="pi-filter">
  <%= form_tag '', :method => :get do %>
    <%= text_field('', :filter, :value => params[:filter]) %>
    <%= submit_tag 'Filter' %>
  <% end %>
</div>

<div id="pi-create-new-property-link">
  <%= link_to "Create New Property", property_new_path %>
</div>

<div class="ui-left-margin">
  <%= will_paginate %>
</div>

<div id="ui-padded-sides">
  <ul class="properties">
    <%= render partial: 'search_results_table_header', locals: {properties: @properties} %>
  </ul>
</div>

<div class="ui-left-margin">
  <%= will_paginate %>
</div>
