<% provide(:title, 'All Properties') %>

<%= render "layouts/header" %>

<div class="text-center top-padding-to-miss-navbar">
  <h1>All Properties</h1>
</div>

<div id="pi-filter">
  <%= form_tag '', :method => :get do %>
    <%= text_field('', :filter, :value => params[:filter]) %>
    <%= submit_tag 'Filter' %>
  <% end %>
</div>

<div id="pi-create-new-property-link">
  <%= link_to "Create New Property", property_new_path %>
</div>

<div class="ui-left-margin">
  <%= will_paginate %>
</div>

<div id="ui-padded-sides">
  <ul class="properties">
    <!-- Need hack below to truncate @properties to 30 because
         for some reason will_paginate is giving me 30x30 results,
         so this just limits it down to the one set I need. -->
    <% for i in 0..30 do %>
      <% if @properties[i] != nil %>
        <%= render @properties[i] %>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="ui-left-margin">
  <%= will_paginate %>
</div>
