<% content_for :title, @property.address1 %>

    <!-- Big address title that zooms in at top upon page load -->
    <div id="ps-addr-title-zoom-container">
      <h3 id="ps-addr-title-zoom">
        <span id="ps-addr-title-zoom__text">
        <%= @property.address1 %></span>
      </h3>
    </div>
    
    <div style="text-align:center">
    <%= "\xC2\xA9 #{Time.current.year}" %> 
    <a href="http://altadenaheritage.org/">Altadena Heritage</a>
    </div>
    
    <!-- Photo of property -->
    <div id="ps-photo-main-container">
      <% if !@property.primary_image.nil? && @property.primary_image.filename %>
        <%= image_tag("http://altadenaheritagepdb.org/photo/" + 
              @property.primary_image.filename, 
              :id => "ps-photo-main", :alt => "Photo of Property") %>
  
        <%= @property.primary_image.description.nil? ? "" : @property.primary_image.description %>
        <%= @property.primary_image.date.nil? ? "" : "(" + @property.primary_image.date + ")" %>
        <%= @property.primary_image.credit.nil? || @property.primary_image.credit = ""  ? "" : "Credit: " + @property.primary_image.credit %>

      <% else %>
        <div id='ps-photo-main-no-photo'>
          <%= image_tag('house-stick-figure-med.png',
                    :alt => 'Cartoon Photo of Property') %>
          <br>
          We do not have a picture of this house yet.  
          <a href="http://altadenaheritage.org/contact-us/" target="_blank">
          Let us know</a> if you have one!
        </div>
      <% end %>

    </div>

    
    <div id="ps-addr-title-fader"><%= @property.address1 %></div>

    <!-- Download PDF Link -->
    <!-- JS onClickEvent added to #ps-dl-pdf-img to pop up wait spinner -->    
    <div id="ps-dl-pdf-img">
    <%= link_to image_tag('pdf-dl-button-65x24.png', :alt => 'Download PDF'), 
        property_path(@property.id) + ".pdf", target: :_blank %>
    </div>

    <div id="ps-pdf-please-wait-container">
      <div id="ps-pdf-please-wait">
        <%= image_tag('ring-alt.svg', :alt => 'Please Wait...') %>
        <br>
        <b>Generating PDF file...</b>
      </div>
    </div>

    <!-- All fields listed below -->

    <% if current_user && current_user.admin? && logged_in? %>
      <div id="ps-edit-link">
        <%= link_to "Edit", property_edit_path(@property) %>
      </div>
    <% end %>
    
    <div class="ps-db-details">

      <%= ps_markup("APN", (apn = @property.apn) && apn.parcel) %>
      <%= ps_markup("AHAD ID", @property.id.to_s) %>
      <%= ps_markup("Year Built", @property.yearbuilt_qualified) %>
      <%= ps_markup("Year Built (Assessor)", @property.yearbuiltassessor) %>
      <%= ps_markup("Year Built (Other)", @property.yearbuiltother) %>
      <%= ps_markup("Legal Description", @property.legaldescription) %>
      <%= ps_markup("Quadrant", @property.quadrant) %>
      <%= ps_markup("Current Lot Size", @property.currentlotsize) %>
      <%= ps_markup("Historic Name", @property.historicname) %>
      <%= ps_markup("Style", @property.style) %>
      <%= ps_markup("Stories", @property.stories) %>
      <%= ps_markup("Type", 
          @property.type != nil ? @property.type.capitalize : "", true) %>
      <%= ps_markup("CHRS", @property.chrs_codes) %>

      <!-- 
        -- Architects
        -->

      <% if !@property.first_architect.nil? %>
        <% a = PropArchitectDecorator.new(@property.first_architect) %>
        <% if @property.prop_architects.count > 1 %>
          <%= ps_markup("Architects", a.qualified + (a.year != nil && a.year != "" ? " (" + a.year + ")" : "")) %>
        <% else %>
          <%= ps_markup("Architect", a.qualified + (a.year != nil  && a.year != "" ? " (" + a.year + ")" : "")) %>
        <% end %>
      <% end %>

      <% if @property.other_architects.count > 0 %>
        <div class="ps-list-padded accordion-content__indent">
          <% @property.other_architects.each do |a| %>
            <% a = PropArchitectDecorator.new(a) %>
            <%= a.qualified + (a.year != nil  && a.year != "" ? " (" + a.year + ")" : "") %><br>
          <% end %>
        </div>      
      <% end %>

      <!-- 
        -- Builders
        -->

      <% if !@property.first_builder.nil? %>
        <% b = PropBuilderDecorator.new(@property.first_builder) %>
        <% if @property.prop_builders.count > 1 %>
          <%= ps_markup("Builders", b.qualified + (b.year != nil  && b.year != "" ? " (" + b.year + ")" : "")) %>
        <% else %>
          <%= ps_markup("Builder", b.qualified + (b.year != nil  && b.year != "" ? " (" + b.year + ")" : "")) %>
        <% end %>
      <% end %>

      <% if @property.other_builders.count > 0 %>
        <div class="ps-list-padded accordion-content__indent">
          <% @property.other_builders.each do |b| %>
            <% b = PropBuilderDecorator.new(b) %>
            <%= b.qualified + (b.year != nil && b.year != "" ? " (" + b.year + ")" : "") %><br>
          <% end %>
        </div>      
      <% end %>

      <% if @property.building_permits.count > 0 %>
        <div class="ps-details-titles">
          Building Permits:
        </div>
        <div>
          <table class="ps-list-padded accordion-content__indent ps-tables">
            <tr>
              <th align="left">Permit</th><th>Year</th>
            </tr>
            <% @property.building_permits.each do |a| %>
              <tr>
                <td> <%= a.permit %> </td>
                <td> <%= (a.year != nil ? a.year : "N/A") %> </td>
              </tr>                  
            <% end %>
          </table>
        </div>
       <% else %>
        <div class='hanging-indent'> 
          <span class="ps-details-titles">Building Permits:</span> 
          None on File
        </div>
      <% end %>

    <% if @property.alterations.count > 0 then %>
      <div class="ps-details-titles">
          Alterations:
        </div>
        <div>
          <table class="ps-list-padded accordion-content__indent ps-tables">
            <tr>
              <th align="left">Cost</th><th>Description</th><th>Year</th>
            </tr>
            <% @property.alterations.each do |a| %>
              <tr>
                <td> <%= number_to_currency(a.cost, :precision => 0) %> </td>
                <td> <%= (a.description != nil ? a.description : "N/A") %> </td>
                <td> <%= (a.year != nil ? a.year : "N/A") %> </td>
              </tr>                  
            <% end %>
          </table>
        </div>
      <% else %>
        <div class='hanging-indent'> 
          <span class="ps-details-titles">Alterations:</span> 
          None on File
        </div>
      <% end %>
      
      <%= ps_markup("Original Owner", @property.original_owner.nil? ? "" :
          @property.original_owner.name + (@property.original_owner.comment.nil? ? "" : " (" + @property.original_owner.comment + ")")) %>

      <%= ps_markup("Original Owner Occupation", 
                    @property.originalowneroccupation) %>

      <%= ps_markup("Place of Business", 
                    @property.placeofbusiness) %>

      <% if @property.other_owners.count > 0 %>
        <div class="ps-details-titles">
          Other Owners:
        </div>
        <div>
          <table class="ps-list-padded accordion-content__indent ps-tables">
            <tr>
              <th align="left">Name</th><th>Years</th><th>Comment</th>
            </tr>
            <% @property.other_owners.each do |o| %>
              <tr>
                <td> <%= o.name %> </td>
                <td> <%= !o.years.nil? ? o.years : "N/A" %> </td>
                <td> <%= !o.comment.nil? ? o.comment : "N/A" %> </td>
              </tr>                  
            <% end %>
          </table>
        </div>
      <% else %>
        <div class='hanging-indent'> 
          <span class="ps-details-titles">Other Owners:</span> 
          None on File
        </div>
      <% end %>

      <%= ps_markup("Original Cost", 
        number_to_currency(@property.originalcost, :precision => 0)) %>

      <%= ps_markup("Original Lot Size", @property.originallotsize) %>

      <%= ps_markup("Moved on to Property", @property.movedontoproperty, true) %>

      <% if @property.former_addresses.count > 0 %>
        <div class="ps-details-titles">
          Former Addresses:
        </div>
        <div>
          <table class="ps-list-padded accordion-content__indent ps-tables">
            <tr>
              <th align="left">Address</th><th>Years</th>
            </tr>
            <% @property.former_addresses.each do |a| %>
              <tr>
                <td> <%= a.address1 + "  " + a.address2 %> </td>
                <td> <%= (a.years != nil ? a.years : "N/A") %> </td>
              </tr>                  
            <% end %>
          </table>
        </div>
      <% else %>
        <div class='hanging-indent'> 
          <span class="ps-details-titles">Former Addresses:</span> 
          None on File
        </div>
      <% end %>


      <div id="ps-note-sources">
    	  <%= if (@property.notes_shpo_and_sources != nil) then 
    		      markdown(@property.notes_shpo_and_sources)
    		    end 
    	  %>
      </div>

    </div> <!-- end ps-db-details -->

    <div id="mapid"></div>
    
    <div id="no-map-found">We're sorry, but we didn't find this address on a map.</div>
    
    <script>
      if (<%=@lat%> != 0 && <%=@lng%> != 0) {
        var mymap = L.map('mapid').setView([<%=@lat%>, <%=@lng%>], 17);
      
      	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
      		maxZoom: 18,
      		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
      			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
      			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      		id: 'mapbox.streets'
      	}).addTo(mymap);
      	
      	var marker = L.marker([<%=@lat%>, <%=@lng%>]).addTo(mymap);
      } else {
        
        var element = document.getElementById("mapid");
        element.parentNode.removeChild(element);
        
        document.getElementById("no-map-found").setAttribute("style", "display:block");
      }
    </script>

    <br><br><br>
    
    <div id="ps-chrs-div">
      <div class="ps-chrs-title">
        California Historical Resource Status (CHRS) Codes Key
      </div>
      
      <table class="ps-chrs-key">
        <tr>
          <td align="left">Code</td><td>Description</td>
        </tr>
        <% Chrs.all.each do |c| %>
          <tr>
            <td valign="top"> <%= c.code %> </td>
            <td valign="top"> <%= c.description %> </td>
          </tr>                  
        <% end %>
      </table>
    </div> 

    <div id="prop-search-again-container">
    	<button id="ps-search-again-btn" 
    	  class="btn-arrow-anim  btn-arrow-anim--wide-square-bottom" type="button">
    		<span class=".btn-arrow-anim__text">Search Again </span>
    	</button>
    </div>
    

