<% content_for :title, @property.address1 %>

<!-- TODO: check for nil for @property, address1, etc. -->

<% if (@photo != nil && @photo.filename != nil && 
       @photo.filename.length > 0) then 
		photourl = "http://altadenaheritagepdb.org/photo/" + @photo.filename
	else
		photourl = "None"
	end %>

<!-- Big address title that zooms in at top upon page load -->
<div id="ps-addr-title-zoom-container">
  <h3 id="ps-addr-title-zoom">
    <span id="ps-addr-title-zoom__text">
    <%= @property.address1 %></span>
  </h3>
</div>

<div id="ps-photo-main-container">
	<% if ( photourl == "None" ) %>
    <div id="ps-photo-main-no-photo">
      <%= image_tag("house-stick-figure-med.png",  
          :alt => "Cartoon Photo of Property") %>
      <br>
  		We don't have a picture of this house yet.  
  		<a href="http://altadenaheritage.org/contact-us/" target="_blank">
  		Let us know</a> if you have one!
		</div>	
	<% else %>
    <%= image_tag(photourl, :id => "ps-photo-main", 
        :alt => "Photo of Property") %>
	<% end %>	
</div>

<div id="ps-addr-title-fader"><%= @property.address1 %></div>

<!-- All fields listed below -->
<div id="ps-db-details">

  <!-- Style the Field Titles all the same -->
  <% prehtml = "<div class='hanging-indent'>	" +
  	  "<span class='ps-details-titles'> %%FIELD_NAME%%: </span>" 
  	 posthtml = "</div>" 
  %>
  
  <%= @property.ps_show_year_built(prehtml, posthtml,
      "Year Built", @property.yearbuilt, @property.yearbuiltflag,
      @property.yearbuilt != nil)  %>

  <%= @property.ps_show_field_or_hide_if_empty(prehtml, posthtml,
	    "Year Built (Assessor)", @property.yearbuiltassessor, 
	    @property.yearbuiltassessor != nil)  %>

  <%= @property.ps_show_field_or_hide_if_empty(prehtml, posthtml,
	    "Year Built (Other)", @property.yearbuiltother, 
	    @property.yearbuiltother != nil)  %>

  <%= @property.ps_show_field_or_show_unknown_w_confirmed(prehtml, posthtml,
	    "Architect", @property.architect, @property.architectconfirmed,
	    @property.architect != nil)  %>

  <%= @property.ps_show_field_or_show_unknown_w_confirmed(prehtml, posthtml,
	    "Builder", @property.builder, @property.builderconfirmed,
	    @property.builder != nil)  %>

  <%= @property.ps_show_field_or_show_unknown(prehtml, posthtml,
      "Stories", @property.stories, @property.stories != nil)  %>

  <%= @property.ps_show_field_or_show_unknown(prehtml, posthtml,
	    "APN", @apn.parcel, @apn != nil && @apn.parcel != nil)  %>

  <%= @property.ps_show_field_or_show_unknown(prehtml, posthtml,
	    "Current Lot Size", @property.currentlotsize, 
	    @property.currentlotsize != nil)  %>

  <%= @property.ps_show_field_or_show_unknown(prehtml, posthtml,
	    "Historic Name", @property.historicname, 
	    @property.historicname != nil)  %>

  <%= @property.ps_show_field_or_show_unknown(prehtml, posthtml,
	    "Legal Description", @property.legaldescription, 
	    @property.legaldescription != nil)  %>

  <%= @property.ps_show_field_or_show_unknown(prehtml, posthtml,
	    "Style", @property.style, @property.style != nil)  %>

  <%= @property.ps_show_field_or_show_unknown(prehtml, posthtml,
	    "Original Owner", @property.originalowner, 
	    @property.originalowner != nil)  %>

  <%= @property.ps_show_field_or_hide_if_empty(prehtml, posthtml,
	    "Original Owner Spouse", @property.originalownerspouse, 
	    @property.originalownerspouse != nil)  %>

  <%= @property.ps_show_field_or_hide_if_empty(prehtml, posthtml,
	    "Original Owner Occupation", @property.originalowneroccupation, 
	    @property.originalowneroccupation != nil)  %>

  <%= @property.ps_show_field_or_show_unknown(prehtml, posthtml,
	    "Original Cost", 
	    number_to_currency(@property.originalcost, :precision => 0), 
	    @property.originalcost != nil)  %>

  <%= @property.ps_show_field_or_show_unknown(prehtml, posthtml,
	    "Original Lot Size", @property.originallotsize, 
	    @property.originallotsize != nil)  %>

  <%= @property.ps_show_field_or_hide_if_empty(prehtml, posthtml,
	    "Moved on to Property", @property.movedontoproperty, 
	    @property.movedontoproperty != nil)  %>

  <%= @property.ps_show_field_or_hide_if_empty(prehtml, posthtml,
	    "Place of Business", @property.placeofbusiness, 
	    @property.placeofbusiness != nil)  %>

  <%= @property.ps_show_field_or_hide_if_empty(prehtml, posthtml,
	    "Street Direction", @property.streetdirection, 
	    @property.streetdirection != nil)  %>

  <%= @property.ps_show_field_or_hide_if_empty(prehtml, posthtml,
	    "Address Notes", @property.addressnote, 
	    @property.addressnote != nil)  %>

  <%= @property.ps_show_field_or_hide_if_empty(prehtml, posthtml,
	    "Quadrant", @property.quadrant, 
	    @property.quadrant != nil)  %>

  <%= @property.ps_show_field_or_hide_if_empty(prehtml, posthtml,
	    "Type", @property.type.capitalize, 
	    @property.type != nil)  %>

	<div id="ps-note-sources">
	<%= if (@property.notes_shpo_and_sources != nil) then 
		    markdown(@property.notes_shpo_and_sources)
		  end %>
	</div>
	
	<!-- TODO: Significance code: Eligible for California Historical 
	     Resources Inventory<br> -->
	
</div> <!-- end ps-db-details -->

<!--
<div id="googlemap">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3300.5208208709487!2d-118.1586366847815!3d34.18416698057027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c2f7ab94ae73%3A0xfd92876118141170!2s265+Acacia+St%2C+Altadena%2C+CA+91001!5e0!3m2!1sen!2sus!4v1476747776267" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>  
<br/>TEST MAP BELOW<br/>
<div id="map" style="width: 500px; height: 500px;"></div>
<div id="map"></div>
-->

<div id="ps-search-again-container">
	<button id="ps-search-again-btn" 
	  class="btn-arrow-anim  btn-arrow-anim--wide-square-bottom" type="button">
		<span class=".btn-arrow-anim__text">Search Again </span>
	</button>
</div>
