<% content_for :title, @property.address1 %>

    <!-- Big address title that zooms in at top upon page load -->
    <div id="ps-addr-title-zoom-container">
      <h3 id="ps-addr-title-zoom">
        <span id="ps-addr-title-zoom__text">
        <%= @property.address1 %></span>
      </h3>
    </div>
    
    <div id="ps-photo-main-container">
      <% if (photo = @property.photos.first) && photo.filename %>
        <%= image_tag("http://altadenaheritagepdb.org/photo/" + 
              photo.filename, 
              :id => "ps-photo-main", :alt => "Photo of Property") %>
      <% else %>
        <div id='ps-photo-main-no-photo'>
          <%= image_tag('house-stick-figure-med.png',
                    :alt => 'Cartoon Photo of Property') %>
          <br>
          We do not have a picture of this house yet.  
          <a href="http://altadenaheritage.org/contact-us/" target="_blank">
          Let us know</a> if you have one!
        </div>
      <% end %>

    </div>
    
    <div id="ps-addr-title-fader"><%= @property.address1 %></div>
    
    <!-- All fields listed below -->
    <div id="ps-db-details">
      <%= ps_markup("Year Built", @property.yearbuilt_qualified) %>
      <%= ps_markup("Year Built (Assessor)", @property.yearbuiltassessor, true) %>
      <%= ps_markup("Year Built (Other)", @property.yearbuiltother, true) %>
      
      <!-- 
        -- Architects
        -->

      <% if @property.additional_architects.count > 0 %>
        <%= ps_markup("Architects", @property.architect_qualified) %>
      <% else %>
        <%= ps_markup("Architect", @property.architect_qualified) %>
      <% end %>
      
      <% if @property.additional_architects.count > 0 %>
        <div class="ps-list-padded accordion-content__indent">
          <% @property.additional_architects.each do |a| %>
            <%= a.name + (a.year != nil ? " (" + a.year + ")" : "") %><br>
          <% end %>
        </div>      
      <% end %>
      
      <!-- 
        -- Builders
        -->

      <% if @property.additional_builders.count > 0 %>
        <%= ps_markup("Builders", @property.builder_qualified, false, true) %>
      <% else %>
        <%= ps_markup("Builder", @property.builder_qualified) %>
      <% end %>      
      
      <% if @property.additional_builders.count > 0 %>
        <div class="ps-list-padded accordion-content__indent">
          <% @property.additional_builders.each do |a| %>
            <%= a.name + (a.year != nil ? " (" + a.year + ")" : "") %><br>
          <% end %>
        </div>
      <% end %>

      <%= ps_markup("Stories", @property.stories) %>
      <%= ps_markup("APN", (apn = @property.apn) && apn.parcel) %>
      <%= ps_markup("Current Lot Size", @property.currentlotsize) %>
      <%= ps_markup("Historic Name", @property.historicname) %>
      <%= ps_markup("Legal Description", @property.legaldescription) %>
      <%= ps_markup("Style", @property.style) %>
      <%= ps_markup("Original Owner", @property.originalowner) %>
      <%= ps_markup("Original Owner Spouse", 
                    @property.originalownerspouse, true) %>
      <%= ps_markup("Original Owner Occupation", 
                    @property.originalowneroccupation, true) %>
      <%= ps_markup("Original Cost", 
        number_to_currency(@property.originalcost, :precision => 0)) %>
      <%= ps_markup("Original Lot Size", @property.originallotsize) %>
      <%= ps_markup("Moved on to Property", @property.movedontoproperty, true) %>
      <%= ps_markup("Place of Business", 
                    @property.placeofbusiness, true) %>
      <%= ps_markup("Street Direction", @property.streetdirection, true) %>
      <%= ps_markup("Address Notes", @property.addressnote, true) %>
      <%= ps_markup("Quadrant", @property.quadrant, true) %>
      <%= ps_markup("Type", 
          @property.type != nil ? @property.type.capitalize : "", true) %>

    <% if @property.alterations.count > 0 then %>
      <div class="ps-details-titles">
          Alterations:
        </div>
        <div>
          <table class="ps-tables">
            <tr>
              <th align="left">Cost</th><th>Description</th><th>Year</th>
            </tr>
            <% @property.alterations.each do |a| %>
              <tr>
                <td> <%= number_to_currency(a.cost, :precision => 0) %> </td>
                <td> <%= (a.description != nil ? a.description : "N/A") %> </td>
                <td> <%= (a.year != nil ? a.year : "N/A") %> </td>
              </tr>                  
            <% end %>
          </table>
        </div>
      <% else %>
        <div class='hanging-indent'> 
          <span class="ps-details-titles">Alterations:</span> 
          None on File
        </div>
      <% end %>
      
      <% if @property.building_permits.count > 0 %>
        <div class="ps-details-titles">
          Building Permits:
        </div>
        <div>
          <table class="ps-tables">
            <tr>
              <th align="left">Permit</th><th>Year</th>
            </tr>
            <% @property.building_permits.each do |a| %>
              <tr>
                <td> <%= a.permit %> </td>
                <td> <%= (a.year != nil ? a.year : "N/A") %> </td>
              </tr>                  
            <% end %>
          </table>
        </div>
       <% else %>
        <div class='hanging-indent'> 
          <span class="ps-details-titles">Building Permits:</span> 
          None on File
        </div>
      <% end %>
      
      <% if @property.former_addresses.count > 0 %>
        <div class="ps-details-titles">
          Former Addresses:
        </div>
        <div>
          <table class="ps-tables">
            <tr>
              <th align="left">Address</th><th>Years</th>
            </tr>
            <% @property.former_addresses.each do |a| %>
              <tr>
                <td> <%= a.address1 + "  " + a.address2 %> </td>
                <td> <%= (a.years != nil ? a.years : "N/A") %> </td>
              </tr>                  
            <% end %>
          </table>
        </div>
      <% else %>
        <div class='hanging-indent'> 
          <span class="ps-details-titles">Former Addresses:</span> 
          None on File
        </div>
      <% end %>

      <% if @property.other_owners.count > 0 %>
        <div class="ps-details-titles">
          Other Owners:
        </div>
        <div>
          <table class="ps-tables">
            <tr>
              <th align="left">Name</th><th>Years</th>
            </tr>
            <% @property.other_owners.each do |a| %>
              <tr>
                <td> <%= a.name %> </td>
                <td> <%= (a.years != nil ? a.years : "N/A") %> </td>
              </tr>                  
            <% end %>
          </table>
        </div>
      <% else %>
        <div class='hanging-indent'> 
          <span class="ps-details-titles">Other Owners:</span> 
          None on File
        </div>
      <% end %>






      <div id="ps-note-sources">
    	  <%= if (@property.notes_shpo_and_sources != nil) then 
    		      markdown(@property.notes_shpo_and_sources)
    		    end 
    	  %>
      </div>

    </div> <!-- end ps-db-details -->

    <div id="prop-search-again-container">
    	<button id="ps-search-again-btn" 
    	  class="btn-arrow-anim  btn-arrow-anim--wide-square-bottom" type="button">
    		<span class=".btn-arrow-anim__text">Search Again </span>
    	</button>
    </div>