<div id="app-layout-top-spacer"> </div>
<header>
  <section class="navigation">
    <div class="navbar">
      
      <% if logged_in? %>
        <%= link_to "Log out", logout_path, method: :delete %>
        <a href="#!">Users</a>
      <% else %>
        <%= link_to "Log in", login_path %>
      <% end %>
      <%= link_to "Settings", root_path %>
      <%= link_to "Profile", root_path %>
      <%= link_to "Search", root_path %>

    </div>
  </section>
</header>