<!DOCTYPE html lang="en">
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'application',
      'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300',
       media: 'all', 'data-turbolinks-track' => true %>

    <%= stylesheet_link_tag    'application',
      'https://fonts.googleapis.com/css?family=Gafata',
       media: 'all', 'data-turbolinks-track' => true %>

    <%= stylesheet_link_tag    'application',
      'https://fonts.googleapis.com/css?family=Assistant',
       media: 'all', 'data-turbolinks-track' => true %>

    <%= favicon_link_tag 'ah-logo.ico' %>
  
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  </head>

  <body>
    <!-- Fixed translucent title bar at top -->
    <div id="app-layout-header-bar">
      <a href="http://ahad.altadenaheritagepdb.org/" target="_">
        <%= image_tag("ahad-header-logo-from-website-alpha-2.png", 
            :id => "app-layout-ah-header-logo-img",
            :alt => "AHAD Header Logo") %>
      </a>
    </div>
    
    <% unless current_page?(root_path) %>
      <div id="app-layout-top-spacer"> </div>
    <% end %>
 
 <!--   
    <div>
      <%= debug(params) if Rails.env.development? %>
    </div>
 -->
    <% if flash.count > 0 %>     
      <% unless request.fullpath == "/login" %>
        <div id="flash-vert-spacer"></div>
      <% end %>
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
