<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'application',
      'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300',
       media: 'all', 'data-turbolinks-track' => true %>

    <%= stylesheet_link_tag    'application',
      'https://fonts.googleapis.com/css?family=Gafata',
       media: 'all', 'data-turbolinks-track' => true %>

    <%= stylesheet_link_tag    'application',
      'https://fonts.googleapis.com/css?family=Assistant',
       media: 'all', 'data-turbolinks-track' => true %>

    <%= favicon_link_tag 'AHL.ico' %>
  
    <!--  
    <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     -->
    
    <!-- Below allows scaling, which totally screws up Select2
         dropdown positioning on Chrome on my Android 4.x phone
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  </head>

  <body>
    <!-- Fixed translucent title bar at top -->
    <div id="ahtitle">
        <%= image_tag("AHAD_Header_Logo_From_Website_Alpha_2.png", :id => "ahtitleimg") %>
    </div>
    <%= yield %>
  </body>
</html>
